@font-face {
    font-family: Bangers-Regular;
    src: url(../../Fonts/Bangers/Bangers-Regular.ttf);
}

@font-face {
    font-family: Varela_Round;
    src: url(../../Fonts/Varela_Round/VarelaRound-Regular.ttf);
}

#fondo {
    background-color: darkgrey;
}

#h1 {
    border: solid 13% white;
    background-color: rgb(13, 29, 200);
    text-align: left;
    color: red;
    font-family: Bangers-Regular;
    padding: 5%;

}
/*
#proramar {
    color: ;
}*/
#img{
    border: solid 5%  darkgrey ;
}